<div class="portfolio">
  <div class="portfolio-top">
    <div class="col-md-8">
      <div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
        <h3>Линейки крепости</h3>
        <p>Все линейки крепости изготавливаются из смеси табаков вирджиния и берли. Регулирование крепости происходит за счет разницы в методахобработки табачного листа и изменения процентного соотношения двух сортов</p>
        <div class="portfolio-top-left-grids">
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon1"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Зеленая линейка</h5>
              <p>Слабая крепость. 1 балл*</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon2"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Желтая линейка</h5>
              <p>Средняя крепость. 5 баллов</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon3"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Красная линейка</h5>
              <p>Высокая крепость. 9 баллов</p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <p>*По стандартной шкале крепости кальянных табаков</p>
        <p>Специальная линейка ZERO - полность безтабачная, безникотиновая смесь натуральных заменителей табака. В основе лежит микс Индийских трав, которые в самой Индии уже давно используются как аналог табаку. Вкус все тот же, а никотина ZERO.</p>
      </div>
    </div>
    <div class="col-md-4 portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
      <div class="portfolio-top-right">

      </div>
    </div>
    <div class="clearfix"> </div>
    <!---- portfolio-works ---->
    <div id="tastes" class="tastes">
      <div class="tm-head">
      <h3>Наши вкусы</h3>
      <p>Здесь показаны популярные вкусы нашего табака.</p><br>
    </div>
      <div class="portfolio-works">
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <%= image_tag("tastes/p1.png")%>
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Pink Panter</h4>
          <p>Клубника как она есть. Розовая. Сладкая. Леденцовая.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <%= image_tag("tastes/p2.png")%>
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Durian</h4>
          <p>Что за фрукт? Попробуйте, это не описать!</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <%= image_tag("tastes/p3.png")%>
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Rose</h4>
          <p>«Роза пахнет розой, Хоть розой назови ее, хоть нет.»</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <%= image_tag("tastes/p4.png")%>
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Elki Palki</h4>
          <p>На вкус – будто пожевал еловую веточку.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <%= image_tag("tastes/p5.png")%>
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Winnie Pooh</h4>
          <p>Авторский вкус от Винни Пуха – гречишный мед.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <%= image_tag("tastes/p6.png")%>
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Galaxy </h4>
          <p>Винограду каждый рад, особенно когда он так душист и ароматен.</p>
        </div>
      </div>
      <div class="clearfix"> </div><br>
      <center><a class="leran-more" href="#">Все вкусы</a></center>
    </div>
  </div>
    <!---- portfolio-works ---->
  </div>
</div>
