<!DOCTYPE html>
<html>
  <head>
    <title>Intertobacco</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Montserrat:400,700' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' %>
    <script>
      new WOW().init();
    </script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <script>
      $(function() {
        var pull 		= $('#pull');
          menu 		= $('nav ul');
          menuHeight	= menu.height();
        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
        });
        $(window).resize(function(){
              var w = $(window).width();
              if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
              }
          });
      });
    </script>
  </head>
  <body>
    <div class="bg">
			<div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<%= image_tag("logo.png")%>
						</div>
						 <nav class="top-nav">
							<ul class="top-nav">
								<li class="active"><a href="#services" class="scroll">О табаке</a></li>
								<li><a href="#tastes" class="scroll">Наши вкусы</a></li>
								<li><a href="#port" class="scroll">О нас</a></li>
							</ul>
							<a href="#" id="pull"><%= image_tag("menu-icon.png")%></a>
						</nav>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
      <%= render 'welcome/banner' %>
		</div>
    <%= yield %>
  </body>
</html>
